@tailwind base;
@tailwind components;
@tailwind utilities;


.railway {
font-family: 'Raleway', sans-serif;
}

.Sono {
    font-family: 'Sono', sans-serif;
}
.Japanese{
font-family: 'Noto Serif JP', serif;
}

.J2{
    font-family: 'Rampart One', cursive;
}

.JR{
    font-family: 'Noto Serif JP', serif
}
.En1{
    font-family: 'Roboto Condensed', sans-serif;
}